* {
    padding: 0;
    margin: 0;

}

body {
    background-color: grey;
    position: relative;
}
.pesquisa {
    position: absolute;
    top: 25%;
    right: 1%;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 1;
}
.teste {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 30% 30% 30%;
    height: 100vw;
    z-index: -1;
}
.roupa {
    width: 100%;
    
}
.roupa img {
    max-height: 33%;
    max-width: 33%;
    transform: translateX(50%);
}
.roupas {
    height: 100%;
    z-index: 0;
}
.logos {
    position: fixed;
    width: 100%;
    height: 7%;
    background-color: aqua;
}
.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    width: calc(20%);
}

.horizontal {

    margin-top: calc(2%);
    z-index: -1;
}
.horizontal img {

    width: 100%;
    height: 100%;
}
@media screen and (max-width: 500px) {
    .logos {
        width: calc(100%);
        height: calc(4%);
    }
    .logo {
        width: calc(50%);
    }
    .horizontal {
        width: calc(100%);
        height: calc(100px);
        top: calc(14%);
    }
}